html {
    height: 100%;
}

body {
    height: 100%;
    color:white;
    background:#eea29a;
    font-family: 'Space Mono', monospace;
}
a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display:flex;
    justify-content:space-around;
   
}
.footer{
    display:flex;
    justify-content:space-around;
}
.container{
    display: flex;
}
.column1{
    width: 100%;
    height: 700px;
    background-image:url(http://bts.ibighit.com/loveyourself_tear/img/photo/y_ver/1_y_bts.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}
.gallery{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.thumbnail-image{
  width:100%;
}
.thumbnail{
    width:800px;
}
.aboutMain{
    font-size: 18px;
}