html {
    height: 100%;
}

body {
    
    color:#16001E;
    background:#F7F0F0;
    font-family: 'Space Mono', monospace;
    background-image:url(http://bts.ibighit.com/wings/img/mainphoto/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#body2{
    background-image: url(&quot;img/background/wings-background-1.jpg);"
    background-repeat: repeat;

}
a {
    text-decoration: none;
    color:#561B3D ;
    font-size: 35px;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    padding-top: 20px;
    display:flex;
    justify-content:space-around;
   
}
.footer{
    padding-top: 500px;
    display:flex;
    justify-content:space-around;
    color:#561B3D;
}
.container{
    display: flex;
}
.column1{
    width: 100%;
    
}
.gallery{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.thumbnail-image{
  width:100%;
}
.thumbnail{
    width:800px;
}
.aboutMain{
    font-size: 18px;
}