html {
    height: 100%;
}

body {
    
    background:black;
    font-family: 'Space Mono', monospace;
    background-image:url(https://www.billboard.com/files/media/iwm9ks1lc-mx83ej-nx-dje3-jdxm-bts-lal-72j-kdi3-2018-bb5-billboard-su7-1500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#body2{
    background: white;
    color: black;

}
#body3{
    background: black;
    color: white;
    
}
a {
    text-decoration: none;
    color:white;
    font-size: 35px;
}
#about{
    text-decoration: none;
    color:black;
    font-size: 35px;
    
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    padding-top: 20px;
    display:flex;
    justify-content:space-around;
    color:white;
   
}
.navbar2{
    padding-top: 20px;
    display:flex;
    justify-content:space-around;
    color:black;
}
.footer{
    padding-top: 500px;
    display:flex;
    justify-content:space-around;
    color:white;
}
.container{
    display: flex;
}
.column1{
    width: 100%;
    
}
.gallery{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.thumbnail-image{
  width:100%;
}
.thumbnail{
    width:800px;
}
.aboutMain{
    font-size: 18px;
}